Armor 1 2 3 4 5 6 7 8 9 10
Hat 1 2 3 4 5
Weapon 1 2 3
Pet 1 2 3
Homeworld 1 2 3 4 5 6 7 8
HP 1 2 3
MP 1 2 3 4 5 6
Pen 1 2

P1
Armor 6
Hat 5
Weapon 3
Pet 2
Homeworld 1
HP 1
MP 6
Pen 2

P2
Armor 2
Hat 4
Weapon 3
Pet 2
Homeworld 2
HP 2
MP 6
Pen 2

P3
Armor 8
Hat 3
Weapon 1
Pet 2
Homeworld 3
HP 2
MP 4
Pen 2

P4
Armor 3
Hat 1
Weapon 3
Pet 2
Homeworld 4
HP 2
MP 4
Pen 2

P5
Armor 10
Hat 2
Weapon 3
Pet 2
Homeworld 5
HP 1
MP 2
Pen 2

P6
Armor 10
Hat 3
Weapon 3
Pet 2
Homeworld 6
HP 2
MP 2
Pen 2

P7
Armor 10
Hat 3
Weapon 3
Pet 2
Homeworld 7
HP 1
MP 5
Pen 2

P8
Armor 8
Hat 3
Weapon 3
Pet 2
Homeworld 8
HP 1
MP 5
Pen 2

P9
Armor 2
Hat 2
Weapon 3
Pet 2
Homeworld 7
HP 2
MP 3
Pen 2

P10
Armor 1
Hat 1
Weapon 3
Pet 2
Homeworld 6
HP 2
MP 3
Pen 2

P11
Armor 7
Hat 1
Weapon 3
Pet 3
Homeworld 5
HP 2
MP 1
Pen 2

P12
Armor 6
Hat 4
Weapon 3
Pet 2
Homeworld 4
HP 2
MP 1
Pen 2

P13
Armor 9
Hat 2
Weapon 3
Pet 2
Homeworld 3
HP 2
MP 2
Pen 2

P14
Armor 3
Hat 3
Weapon 3
Pet 2
Homeworld 2
HP 2
MP 1
Pen 2

P15
Armor 7
Hat 5
Weapon 3
Pet 3
Homeworld 1
HP 2
MP 3
Pen 2

P16
Armor 4
Hat 2
Weapon 3
Pet 1
Homeworld 2
HP 2
MP 4
Pen 2

P17
Armor 5
Hat 1
Weapon 3
Pet 3
Homeworld 3
HP 2
MP 5
Pen 2

P18
Armor 2
Hat 3
Weapon 3
Pet 2
Homeworld 4
HP 2
MP 6
Pen 2

P19
Armor 8
Hat 5
Weapon 3
Pet 3
Homeworld 5
HP 2
MP 1
Pen 2

P20
Armor 10
Hat 2
Weapon 3
Pet 2
Homeworld 6
HP 2
MP 2
Pen 2